<div class="col-md-6">
<h2> Detalles del Pedido</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nombre del Producto</th>
    <th>Cantidad</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let detail of orderDetails">
    <td>{{detail.id}}</td>
    <td>{{detail.quantity}}</td>
    <!--<td>{{orderDetail.quantity}}</td>
    <td><button class="btn btn-danger" (click)="deleteOrderDetail(orderDetail)"> Eliminar del pedido</button></td>-->
  </tr>
  </tbody>
</table>
</div>
