<div *ngIf="product">
    <h2>Editar Producto  {{product.name | uppercase}}</h2>
    <div>
      <label>Nombre:
        <input [(ngModel)]="product.name" (ngModelChange)="setUppercaseName($event)"
        placeholder="Nombre" name="name" class="form-control" id="name">
      </label>
    </div>
    <div class="form-group">
        <label for="productType">Tipo de Producto:</label>
        <select id="productType" name="productType" [(ngModel)]="product.productType" class="form-control">
          <option *ngFor="let prodType of productTypes" [value]="prodType.id">
            {{prodType.name}}
          </option>
        </select>
    </div> 
    <div class="form-group">
      <label for="unitPrice">Precio Unitario:</label>
      <input [(ngModel)]="product.unitPrice" placeholder="Precio Unitario" 
      type="number" name="unitPrice" class="form-control" id="unitPrice">
    </div> 
    <button class="btn btn-success" (click)="goBack()">Volver</button>
    <button class="btn btn-success" (click)="saveProduct()">Guardar</button>
  </div>
  